body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	max-width: 2300px;
}

.header {
	background-image: url(brawl.jpeg);
	background-size: cover;
	height: 100vh;
}
.navi {
	color: black;
	text-decoration:none; 
	margin-right: 86px;
	font-size: 38px;
	padding-top: 4px;
}
.navi:hover {
	color: white;
}
.navi:last-child{
	margin-right: 0px;
}
.nav {
	display: flex;
	justify-content: center;
}
.burger {
	display: none;
}
.title {
	color: black;
	font-size: 80px;
	width: 1000px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 140px;
}
.subt{
	color: black;
	font-size: 56px;
	font-weight: 900;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 514px;
	line-height: 44px;
	margin-top: 60px;
}
.in{
	width: 367px;
	height: 47px;
	font-size: 27px;
	outline: none;
	border: 5px #1E90FF solid;
	border-radius: 13px;
	padding-left: 12px;
}
.form {
	text-align: center;
	margin-top: 18px;
}
.b {
	background-color: #6495ED;
	padding: 15px 18px;
	color: black ;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700px;
	width: 261px;

}
.b:hover{
	background-color: white;
}
.bttn {
	text-align: center;
	margin-top: 30px;
}
/*после идет гайды*/



.bag {
}
.bagg{
	color: black;
	font-size: 56px;
	font-weight: 900;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 514px;
	line-height: 44px;
	padding-top: 30px;
}
.bagsub {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
}
.text {
	margin-left: 30px;
	font-size: 23px;
	width: 1500px;

}
.dock1 {
margin-left: 30px;
}
/*после идеть не баг а фичи*/
.guide {

}


.guiedy {
	color: black;
	font-size: 56px;
	font-weight: 900;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 514px;
	line-height: 44px;
	padding-top: 30px;
}
.guidet {
	color: black ;
	font-size: 28px ;
	text-align: center;
	padding-top: 20px
}
.un-g2 {
	color: black;
	text-decoration:none; 
	margin-right: 86px;
	font-size: 38px;
	padding-top: 4px;
}
.un-g2:hover {
	color: white;
} 
.un-g2:last-child {
	margin-right: 0px;
}
.un-g {
	display: flex;
	justify-content: center;
}
.sizeimg {
width: 1100px;
height: 500px;
}
/*после идет бравлеры*/
 .brawlert {
 
 }

.tit{
   	color: black;
	font-size: 56px;
	font-weight: 900;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 514px;
	line-height: 44px;
	padding-top: 30px;
}
.brawlers {
	margin-top: 30px;
}
.sendy {
	color: black ;
	font-size: 28px ;
	text-align: center;
	padding-top: 20px;
}
.h4 {
	margin-left: 60px;
	font-size: 32px;
	text-decoration: underline;
}
.photo {
	display: flex;
}
/*здесь идет уже "о нас"*/
.our {
	
}
.society {
	display: flex;
	justify-content: center;
	text-decoration: none;
	font-size: 40px;
}
.phlink {
	margin-right: 155px;
}
.phlink:last-child {
	margin-right: 20px;
}
.video{
	padding-top: 50px;
}

@media (max-width: 1250px) {
	.title {
		font-size: 60px;
	}
	.subt {
	font-size: 40px;
	font-weight: 100px;
	margin-top: 30px;
	}
	.burger {
		display: block;
		padding-top: 20px;
		margin-left: 20px;
	}
	.nav {
		display: none;
	}
}
@media (max-width: 1030px) {
	.titile {
		font-size: 40px;
        width: 0px;
        padding-top: 160px;
	}
	.subt {
		font-size: 25px;
		width: 400px;
	}
    .navi {
    	font-size: 20px;
    	padding-top: 20px;
    }
    .text{
    	width: 1000px;
    }
}
@media (max-width: 999px) {
	.title {
		font-size: 40px;
		width: 400px;
	}
}
@media(max-width: 810px) {
    .guiedy {
       margin-left: 50%;
       width: 80%;
       font-size: 46px;
    }
    .guidet {
    	margin-left: 50% ;
    	width: 80%;
    }
    .guidet {
    	margin-left: 50% ;
    	width: 80%;
    }
    .un-g{
     margin-left: 50%;
	 font-size: 28px;
	 width: 80%;
  }
}

@media (max-width: 670px) {
	.in {
        width: 200px;
	}
	.b {
       font-size: 20px;
       padding: 10px 12px;
	}
	.form {
      

      
	}
}
@media (max-width: 450px) {
	 .guiedy {
     margin-left: 50%;
     width: 100%;
     font-size: 46px;
   }
    .guidet {
    	margin-left: 50% ;
    	width: 100%;
    }
    .guidet {
    	margin-left: 50% ;
    	width: 100%;
    }
    .un-g{
     margin-left: 50%;
	 font-size: 28px;
	 width: 100%;
  }
}


.block {
	display: block;
}
.burger-slide {
	position: absolute;
}
button {
	background-color: transparent;
	border: none;
	outline: none;

}
.disp {
	display: none;
}
