body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
.header {
	background-image: url(brawl.jpeg);
	background-size: cover;
	height: 100vh;
}
.navi {
	color: black;
	text-decoration:none; 
	margin-right: 86px;
	font-size: 38px;
	padding-top: 4px;
}
.navi:hover {
	color: white;
}
.navi:last-child{
	margin-right: 0px;
}
.nav {
	display: flex;
	justify-content: center;
}
.title {
	color: black;
	font-size: 80px;
	width: 1000px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 140px;
}
.subt{
	color: black;
	font-size: 56px;
	font-weight: 900;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 514px;
	line-height: 44px;
	margin-top: 60px;
}
.in{
	width: 367px;
	height: 47px;
	font-size: 27px;
	outline: none;
	border: 5px grey solid;
	border-radius: 21px;
	padding-left: 12px;
}
.form {
	text-align: center;
	margin-top: 18px;
}
.b {
	background-color: grey;
	padding: 15px 18px;
	color: black ;
	text-decoration: none;
	border: 5px grey solid;
	border-radius: 28px;
	font-size: 24px;
	font-weight: 700px;
	width: 261px;

}
.b:hover{
	background-color: white;
}
.bttn {
	text-align: center;
	margin-top: 30px;
}
.bag {
    background-color: #C3B091 ;
	background-size: cover;
}
.bagg{
	color: black;
	font-size: 56px;
	font-weight: 900;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 514px;
	line-height: 44px;
	padding-top: 30px;
}
.text {
	margin-left: 30px;
	font-size: 28px;
	width: 1500px;

}
.dock1 {
margin-left: 30px;
}
